body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.calendar-container {
  width: 100%;
  height: 460px;
}
.calendar-container .clndr-controls {
  width: 100%;
  color: #00bfff;
  height: 100px;
  font-size: 40px;
}
.calendar-container .clndr-controls div {
  float: left;
  line-height: 100px;
}
.calendar-container .clndr-controls .previous,
.calendar-container .clndr-controls .next {
  width: 10%;
  font-size: 25px;
}
.calendar-container .clndr-controls .previous:hover,
.calendar-container .clndr-controls .next:hover {
  cursor: pointer;
}
.calendar-container .clndr-controls .previous {
  text-align: right;
}
.calendar-container .clndr-controls .next {
  text-align: left;
}
.calendar-container .clndr-controls .month {
  text-align: center;
  width: 80%;
}
.calendar-container .seperator {
  width: 90%;
  height: 2px;
  background-color: #d9d9d9;
}
.calendar-container .day-wrapper {
  width: 100%;
}
.calendar-container .day-wrapper .dayOfWeek-container {
  width: 100%;
  height: 50px;
}
.calendar-container .day-wrapper .dayOfWeek-container .dayOfWeek {
  width: 14.28%;
  float: left;
  text-align: center;
  font-size: 18px;
  line-height: 50px;
  color: #b3b3b3;
}
.calendar-container .day-wrapper .day {
  width: 14.28%;
  float: left;
  text-align: center;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  color: #4d4d4d;
}
.calendar-container .day-wrapper .adjacent-month {
  color: #d9d9d9;
}
.calendar-container .day-wrapper .event .event-day {
  width: 50px !important;
  height: 50px !important;
  background-color: #00bfff;
  border-radius: 25px;
  color: white;
}
.calendar-container .day-wrapper .event .event-day:hover {
  cursor: pointer;
}
.day-of-interest {
  color: #00bfff;
  height: 100px;
  font-size: 40px;
  line-height: 100px;
}
.seperator-interest {
  width: 90%;
  height: 2px;
  background-color: #d9d9d9;
}
.events-container {
  width: 100%;
}
.events-container .event-elem {
  width: 350px;
  font-size: 17px;
  margin-top: 30px;
  text-align: left;
}
.events-container .event-elem p {
  margin: 0;
  padding: 0;
}
.events-container .event-elem p.first {
  border-bottom: 3px solid #00bfff;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}
