body {
	font-family: ‘Arial Narrow’, sans-serif;
}

.calendar-container, .events-container-main {
	float: left;
}

.calendar-wrapper {
	width: 490px;
	height: 490px;
}

.day-wrapper {
	padding: 0;
	margin: 0;
	width: 490px;
	height: 490px;
}

.dayOfWeek-container {
	margin: 0px;
	padding: 0px;
	height: 50px;
	width: 490px;

	margin-bottom: 1px;
}

.dayOfWeek-container .dayOfWeek {
	width: 68px;
	height: 48px;
	border: 1px solid white;
	float: left;
	background-color: #0086b3;
	color: white;
	font-size: 18px;
	text-align: center;
	line-height: 48px;
}

.day {
	width: 68px;
	height: 68px;
	border: 1px solid white;
	background-color: #e6e6e6;
	float: left;
	font-size: 20px;
	color: #4d4d4d;
	font-weight: bold;
	text-align: center;
	line-height: 68px;
}

.adjacent-month {
	color: #cccccc;
}

/* Calendar Controls */
.clndr-controls {
	width: 490px;
	height: 50px;
	
	margin: 0px;
	padding: 0px;
}

.clndr-controls div {
	float: left;
	background-color: #4d4d4d;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 18px;
}

.clndr-previous-button, .clndr-next-button {
	width: 50px;
	cursor: pointer;
}

.clndr-previous-button {
	margin-left: 1px;
}

.month {
	width: 388px;
}

.event {
	background-color: #ff8080;
	color: white;
	cursor: pointer;
}

.event.adjacent-month {
	background-color: #e6e6e6;
	color: #cccccc;
}


/* Events CSS */

.events-container-main {
	width: 300px;
	margin-left: 10px;
}

.event-elem {
	margin-bottom: 2px;
	padding: 5px;
	width: 290px;
	background-color: #e6e6e6;
	font-size: 18px;
	color: #4d4d4d;
}

.events-container p {
	margin: 0;
	padding: 0;
}

.event-day {
	width: 300px;
	height: 50px;
	background-color: #4d4d4d;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 18px;
}
