<html>
	<head>
		
		<!-- Libraries required -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>

		<!-- CLNDR.js -->
		<script type="text/javascript" src="clndr.min.js"></script>

		<link rel="stylesheet" type="text/css" href="calendar.css">		
	</head>
	<body>
		<div class="calendar"></div>
	</body>

	<!-- Underscore Calendar Template -->
	<script type="template/text" class="calendar-template">
	
		<div class="calendar-container">
			<div class="clndr-controls">
				<div class="clndr-previous-button"><</div>
				<div class="month"><%= month + ' - ' + year %></div>
				<div class="clndr-next-button">></div>
			</div>
			
			<div class="day-wrapper">
				<div class="dayOfWeek-container">
					<% _.each(daysOfTheWeek, function(day) { %>
						<div class="dayOfWeek"><%= day %></div>
					<% }); %>
				</div>

				<% _.each(days, function(day) { %>
					<div class="<%= day.classes %>"><%= day.day %></div>
				<% }); %>
			</div>
		</div>
		<div class="events-container-main">
		</div>
	
	</script>

	<script type="template/text" class="events-template">
		<div class="event-day"><%= day %></div>
		<div class="events-container">
			<% _.each(evs, function(ev) { %>
				<div class="event-elem">
				 	<p><%= ev.lname + ', ' + ev.fname + ' - ' + ev.phone %></p>
				 	<p>Coach # <%= ev.coach + ' - ' + ev.p_time + ' ' + ev.p_am_pm%></p>
				 	<p>Status: <%= (ev.status === '0') ? 'Declined' : 'Approved'  %></p>
				 	
				</div>
			<% }); %>
		</div>
	</script>

	<!-- Custom JavaScript -->
	<script type="text/javascript">

	var events = [
		{
			fname: 'Salman',
			lname: 'Tariq',
			phone: '226-606-9930',
			email: 'stariqmi@gmail.com',
			date: '2015-12-20',
			p_time: '12:30',
			p_am_pm: 'am',
			coach: 1,
			status: 1
		},
		{
			fname: 'Hammad',
			lname: 'Tariq',
			phone: '226-606-9930',
			email: 'stariqmi@gmail.com',
			date: '2015-12-20',
			p_time: '12:30',
			p_am_pm: 'am',
			coach: 1,
			status: 1
		},
		{
			fname: 'Salman',
			lname: 'Tariq',
			phone: '226-606-9930',
			email: 'stariqmi@gmail.com',
			date: '2015-12-10',
			p_time: '12:30',
			p_am_pm: 'am',
			coach: 1,
			status: 1
		}
	];

	$(document).ready(function() {
		
		$.ajax({
			url: 'http://web.mlcdates.com/calendar_query/15',
			dataType: 'json',
			success: function(response) {
				events = response;
				console.log(events);	
		$(".calendar").clndr({
			template: $(".calendar-template").html(),
			forceSixRows: true,
			events: events,
			clickEvents: {
				click: function(target) {
					if (target.events[0]) {
						var evs = {
							day: target.events[0].date,
							evs: target.events
						};

						var template = _.template($('.events-template').html());
						$(".events-container-main").html(template(evs));
					}
					else {
						$(".events-container-main").html("");
					}
				}
			}
		});
		
		}
		});
		
	});
	</script>
</html>
